user-manual {{ user_manual }}
confdir {{ confdir }}
logdir {{ logdir }}
actionsfile {{ match_all_action_file }}
actionsfile {{ default_action_file }}
actionsfile {{ user_action_file }}
filterfile {{ default_filter }}
filterfile {{ user_filter }}
logfile {{ logfile }}
listen-address {{ listen_address }}
toggle {{ toggle }}
enable-remote-toggle {{ enable_remote_toggle }}
enable-remote-http-toggle {{ enable_remote_http_toggle }}
enable-edit-actions {{ enable_edit_actions }}
